policy_module(catalyst, 1.0.0)

type catalyst_t;
type catalyst_exec_t;

type catalyst_conf_t;
files_config_file(catalyst_conf_t)

type catalyst_tmp_t;
files_tmp_file(catalyst_tmp_t)

allow catalyst_t self:capability { chown sys_admin };
allow catalyst_t self:fifo_file { ioctl getattr read write };
allow catalyst_t self:process signal;

list_dirs_pattern(catalyst_t, catalyst_conf_t, catalyst_conf_t)
read_files_pattern(catalyst_t, catalyst_conf_t, catalyst_conf_t)

manage_dirs_pattern(catalyst_t, catalyst_tmp_t, catalyst_tmp_t)
manage_files_pattern(catalyst_t, catalyst_tmp_t, catalyst_tmp_t)
manage_lnk_files_pattern(catalyst_t, catalyst_tmp_t, catalyst_tmp_t)
files_tmp_filetrans(catalyst_t, catalyst_tmp_t, { file dir })

corecmd_exec_bin(catalyst_t)
corecmd_exec_shell(catalyst_t)
domain_use_interactive_fds(catalyst_t)
files_mounton_root(catalyst_t)
files_list_world_readable(catalyst_t)
files_read_etc_files(catalyst_t)
files_read_world_readable_files(catalyst_t)
miscfiles_read_localization(catalyst_t)
portage_read_ebuild(catalyst_t)
portage_domtrans(catalyst_t)
rsync_exec(catalyst_t)
userdom_use_inherited_user_terminals(catalyst_t)
userdom_user_application_domain(catalyst_t, catalyst_exec_t)
